div div{
    text-indent: 2em;
    font: 14pt 思源宋体,宋体;
    background-color: #ffffff90;
}
a{
    font-size: 20px;
    text-decoration: none;
}
h1{
    text-align: center;
}
body{
    max-width: 1000px;
    margin: 0 auto;
}
#passageTitle{
    text-align: center; 
    font: 22.0pt 思源宋体,宋体;
    text-indent: 0;
}