*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
}
a{
    font-size: 20px;
    text-decoration: none;
    color:inherit;
}
h1{
    text-align: center;
    padding-bottom: 20px;
}

#header-container
{
    width: 100%;
    position: absolute;
    z-index: 2;
} 
.webs{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 60px;
}