*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    min-height: 100vh;
}
a{
    font-size: 20px;
    text-decoration: none;
    color:inherit;
}
h1{
    text-align: center;
    padding-bottom: 20px;
    text-decoration: none;
}

#header-container
{
    width: 100%;
    position: absolute;
    z-index: 2;
} 
div.webs{
    max-width: 1000px;
    position: relative;
    padding-top: 60px;
    margin: 0 auto;
}
.webs>.links{
    display: block;
    text-align: center;
    height: 50px;
    background-color: green;
    color: #fff;
    margin: 10px 0;
    line-height: 2.5;
}