
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/public/list.css">
</head>
<body>
    <ul class="list">
        <li><a href="/webs/home.html"><img src="/pics/icon/home.gif" alt="主页" height="16px"  width="16px">主页</a></li>
        <li><a href="/webs/video.html"><img src="/pics/icon/home.gif"  alt="视频" height="16px"  width="16px">视频</a></li>
        <li><a href="./webs/audio.html"><img src="/pics/icon/home.gif" alt="音频" height="16px"  width="16px">音频</a></li>
        <li><a href="./webs/passage.html"><img src="/pics/icon/home.gif" alt="文章" height="16px"  width="16px">文章</a></li>
        <li id="surb">
            <a href="#"><img src="/pics/icon/home.gif" alt="关注我" height="16px"  width="16px">关注我</a>
            <ul id="surbscribe">
                <li><a href="https://www.acfun.cn/u/43824214"><img src="/pics/icon/acfun.gif" alt="关注我" height="16px" >A站</a></li>
                <li><a href="https://space.bilibili.com/353449145"><img src="/pics/icon/bilibili.gif" alt="关注我" height="16px">B站</a></li>
                <li><a href="https://weibo.com/u/7480396703"><img src="/pics/icon/weibo.gif" alt="关注我" height="16px">微博</a></li>
            </ul>
        </li>
    </ul>
    <script type="text/javascript" src="/script/surbscribe.js"></script>
</body>
</html>