#surbscribe{
    display:none;
    background-color:#1a19194f;
}
#surb{
    position: relative;
}
ul{
    list-style: none;
    padding-inline-start: 0;              
}
li:not(.tips>*){
    cursor:pointer;
}
li:not(#indexWeb,.tips>*):hover{
    background-color: #8585852a;
}
li>a{
    display: block;
    height: inherit;
    width: inherit;
}