#surbscribe{
    display:none;
    background-color:#1a19194f;
}
#surb{
    position: relative;
}
ul{
    list-style: none;
    padding-inline-start: 0;              
}
li{
    cursor:pointer;
}
li:not(#indexWeb):hover{
    background-color: #8585852a;
}