
.SignName{
    text-align: right; 
    font: 14pt 宋体;
}
.passageTitle,h1,h2{
    text-align: center; 
    font-family:  思源宋体,宋体;
    font-weight: normal;
    text-indent: 0;
}
.passage{
    text-indent: 2em;
    font: 14pt 思源宋体,宋体;
    background-color: rgba(255, 255, 255, 0.565);
}
.tips{
    font-size:12px;
}
.infos{
    border:2px solid #ffc0cb;
    background-color:#ffc0cb;
}